<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key> <string>MyVoicePrefs</string>
    <key>CFBundleDisplayName</key> <string>我的语音</string>
    <key>CFBundleIdentifier</key> <string>com.yzdmm2024.myvoice.prefs</string>
    <key>CFBundlePackageType</key> <string>BNDL</string>
    <key>CFBundleExecutable</key> <string>MyVoicePrefs</string>
    <key>CFBundlePrincipalClass</key> <string>MyVoicePrefsListController</string>
    <key>MinimumOSVersion</key> <string>14.0</string>
</dict>
</plist>
